
#header {
    height: 40px;
    padding: 10px;
    text-align: center;
    background-color: blue;
    color: white;
}

body {
    background-color: lightblue;
    text-align: center;
}

#planChoice {
    display: table-row;
    width: 100%;
    padding: 10%;
    text-align: center;
}

#taxCredit {
    height: 100px;
    width: 30%;
    background-color: blue;
    transition: 2s;
    float: left;
    position: relative;
    left: 50px;
}

taxCredit:hover {
    background-color: aqua;
}

#medicare {
    height: 100px;
    width: 30%;
    background-color: blue;
    transition: 2s;
    float: left;
    position: relative;
    left: 50px;
}

#medicare:hover {
    background-color: aqua;
}

#outOfPocket {
    height: 100px;
    width: 30%;
    background-color: blue;
    transition: 2s;
    float: left;
    position: relative;
    left: 50px;
}

#outOfPocket:hover {
    background-color: aqua;
}

.hidden {
    display: none;
}

#planQuestions {
    display: table-row;
    width: 100%;
    padding: 10%;
}

#taxEligible {
    height: 100px;
    width: 30%;
    float: left;
    position: relative;
    left: 50px;
    text-align: center;
}

#medicareEligible {
    height: 100px;
    width: 30%;
    float: left;
    position: relative;
    left: 50px;
    text-align: center;
}