
#header {
    height: 40px;
    padding: 10px;
    text-align: center;
    background-color: blue;
    color: white;
}

body {
    background-color: lightblue;
    text-align: center;
}

#planChoice {
    display: table-row;
    width: 100%;
    height: 200px;
    margin: 10%;
    text-align: center;
}

#taxCredit {
    height: 150px;
    width: 30%;
    background-color: blue;
    transition: 2s;
    float: left;
    position: relative;
    left: 50px;
    margin: 10px;
}

#taxCredit:hover {
    background-color: aqua;
}

#taxDiv {
    display: block;
}

#hiddenTaxDiv {
    display: none;
}

#medicare {
    height: 150px;
    width: 30%;
    background-color: blue;
    transition: 2s;
    float: left;
    position: relative;
    left: 50px;
    margin: 10px;
}

#medicare:hover {
    background-color: aqua;
}

#medicareDiv {
    display: block;
}

#hiddenMedicareDiv {
    display: none;
}

#outOfPocket {
    height: 150px;
    width: 30%;
    background-color: blue;
    transition: 2s;
    float: left;
    position: relative;
    left: 50px;
    margin: 10px;
}

#outOfPocket:hover {
    background-color: aqua;
}

#pocketDiv {
    display: block;
}

#hiddenPocketDiv {
    display: none;
}

.hidden {
    display: none;
}

#planQuestions {
    display: table-row;
    width: 100%;
    margin: 10px;
}

#taxEligible {
    height: 100px;
    width: 30%;
    float: left;
    position: relative;
    left: 50px;
    text-align: center;
    margin: 10px;
    background-color: indianred;
    animation-name: colorChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes colorChange {
    from {background-color: indianred;}
    to {background-color: cornflowerblue;}
}

#medicareEligible {
    height: 100px;
    width: 30%;
    float: left;
    position: relative;
    text-align: center;
    margin: 10px;
    background-color: red;
    animation-name: multiColorChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes multiColorChange {
    0% {background-color: red;}
    25% {background-color: yellow;}
    50% {background-color: green;}
    75% {background-color: blue;}
    100% {background-color: violet;}
}