
#header {
    height: 40px;
    padding: 10px;
    text-align: center;
    background-color: blue;
    color: white;
}

body {
    background-color: lightblue;
    text-align: center;
}

#planChoice {
    display: table-row;
    width: 100%;
}

#planQuestions {
    display: table-row;
    width: 100%;
}

.choices {
    height: 100px;
    width: 30%;
    background-color: blue;
    transition: color 2s;
    display: table-cell;
}

.choices:hover {
    background-color: aqua;
}

.hidden {
    display: none;
}