
#circle {
    height: 50px;
    width: 50px;
    background-color: #555;
	border-radius: 50%;
	animation: jump 1s infinite;
	-webkit-animation: jump 1s infinite;
}

@keyframes jump {
	0% { left:0px; top:200px; }
	25% { left:25px; top:175px; }
	50% { left:50px; top:150px; }
	100% { left:75px; top:125px; }
}

@-webkit-keyframes jump {
	0% { left:0px; top:200px; }
	25% { left:25px; top:175px; }
	50% { left:50px; top:150px; }
	100% { left:75px; top:125px; }
}