#container {
    width: 300px;
    height: 300px;
    position: relative;
    background: pink;
  }

  #animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: purple;
  }
  
  #shapeDiv {
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
    border-bottom: 50px solid;
    background: red;
  }

  #shapeDiv:hover {
    width: 100px;
	height: 50px;
	transform: skew(20deg);
	background: darkgreen;
  }